.Rproj.user
.Rhistory
.RData
.Ruserdata
cmake-build-debug/
.idea/*
*.csv
test_data/*
/test_data/
perf.data
*.bin
examples/.idea/*
utils/.idea/*
/utils/.idea/
*.so
/py/treeson/build/
/py/treeson/.idea/
/py/treeson/dist/
/py/treeson/include/.idea/
/py/treeson/treeson.egg-info/
/py/treeson/data/
